---
import Layout from '../../layouts/Layout.astro';
---

<Layout>
    <main class="content-container">
        <h1>Webdev Tools</h1>

        <nav>
            <a href="/tools/base64-encode.html">Base64 Encode</a>
        </nav>
    </main>
</Layout>
