{
    "printWidth": 120,
    "tabWidth": 4,
    "singleQuote": true,
    "trailingComma": "es5",
    "overrides": [
        {
            "files": ["*.yaml", ".*.yaml", "*.yml", ".*.yml"],
            "options": {
                "tabWidth": 2
            }
        }
    ],
    "htmlWhitespaceSensitivity": "strict"
}
