<footer>
    <p>Adam Beres-Deak &copy; 2014 | <a rel="external" href="http://feeds.feedburner.com/bdadamcom">RSS</a></p>
    <p class="legal container">
        Except where otherwise noted, content on this site is licensed under a
        <a href="http://creativecommons.org/licenses/by/4.0/" rel="external,noindex,nofollow">Creative Commons Attribution 4.0 International license</a>.
        Code samples are licensed under the MIT license.
    </p>
</footer>