<footer>
    <p>
        Adam Beres-Deak &copy; 2014

        <span class="social-links">
            <a href="mailto:me@bdadam.com"><i class="fa fa-envelope"></i></a>&nbsp;&nbsp;
            <a href="http://github.com/bdadam" rel="external,nofollow"><i class="fa fa-github"></i></a>&nbsp;&nbsp;
            <a href="https://twitter.com/bdadamm" rel="external,nofollow"><i class="fa fa-twitter"></i></a>&nbsp;&nbsp;
            <a href="https://www.xing.com/profile/Adam_BeresDeak" rel="external,nofollow"><i class="fa fa-xing"></i></a>&nbsp;&nbsp;
            <a href="https://plus.google.com/116380265342833844173?rel=author"><i class="fa fa-google-plus-square"></i></a>
        </span>

        <a rel="external" href="http://feeds.feedburner.com/bdadamcom">RSS</a>
    </p>
    <p class="silent container">
        Except where otherwise noted, content on this site is licensed under a
        <a href="http://creativecommons.org/licenses/by/4.0/" rel="external,noindex,nofollow">Creative Commons Attribution 4.0 International license</a>.
        Code samples are licensed under the MIT license.
    </p>
</footer>