<nav>
    <div class="container main">
        <a class="brand" href="/">bdadam.com</a>
        <a class="menu-icon" href="#"><span class="menu-icon">menu</span></a>

        <div id="menu">
            <a href="/javascript-goodies.html">JavaScript Goodies</a>
            <a href="/about.html">Contact</a>
        </div>
    </div>
</nav>
