<nav>
    <div class="container">
        <div class="pull-right">
            <a href="/javascript-goodies.html">JavaScript Goodies</a>
            <a href="/about.html">Contact</a>
        </div>
        <a class="brand" href="/">bdadam.com</a>
    </div>
</nav>
