<nav>
    <div class="container">
        <a class="brand" href="/">bdadam.com</a>
        <div class="pull-right">
            <a href="/">Home</a>
            {{!<a href="/blog/">Blog</a>}}
            <a href="/about.html">Contact</a>
        </div>
    </div>
</nav>
