/* purgecss start ignore */
.article-body h2 {
    font-weight: bold;
    font-size: 1.125rem;
    margin-bottom: 12px;
    margin-top: 24px;
}

.article-body h3 {
    font-weight: bold;
    margin-bottom: 8px;
    margin-top: 16px;
}

.article-body h4 {
    font-weight: bold;
    margin-bottom: 8px;
    margin-top: 16px;
}

/* .article-body h2 + p {
    margin-top: 100px;
} */

.article-body p {
    margin-bottom: 0.6em;
}

.article-body a {
    color: hsl(245, 86%, 36%);
}

.article-body a:visited {
    color: #609;
}

.article-body a:hover {
    text-decoration: underline;
}

.article-body a:active {
    text-decoration: underline;
    color: hsl(245, 86%, 30%);
}

.article-body iframe[src^='/iframe'] {
    width: 100%;
    height: 500px;
}

.article-body iframe[src^='/demo'] {
    padding: 4px;
    background-color: #f1f1f1;
}

.article-body a[target='_blank']::after {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
    margin: 0 3px 0 5px;
}

.article-body pre[class*='language'] {
    margin-bottom: 16px;
}

.article-body ul,
.article-body ol {
    list-style-type: initial;
    padding-left: 40px;
}

.article-body dl {
    margin-bottom: 0.6em;
}

.article-body dl dt {
    font-weight: bold;
    margin-bottom: 4px;
}

.article-body dl dt:not(:first-of-type) {
    margin-top: 8px;
}

.article-body dl dd {
    margin-left: 10px;
}

.article-body dl dd::before {
    content: '- ';
    display: inline-block;
    margin-right: 10px;
}

.article-body table {
    border-collapse: collapse;
    border: 1px solid #ccc;
    border-radius: 24px;
    margin-bottom: 0.6em;
}

.article-body table td,
.article-body table th {
    padding: 6px 12px;
    border: 1px solid #ccc;
}

.article-body thead th {
    background-color: #f3f3f3;
    border-bottom: 2px solid #ccc;
    font-weight: bold;
}

.article-body tbody tr:nth-child(even) {
    background-color: #f3f3f3;
}
/* purgecss end ignore */
