/* purgecss start ignore */
.article-body h2 {
    font-weight: bold;
    font-size: 1.125rem;
    margin-bottom: 12px;
    margin-top: 24px;
}

.article-body h3 {
    font-weight: bold;
    margin-bottom: 8px;
    margin-top: 16px;
}

.article-body h4 {
    font-weight: bold;
    margin-bottom: 8px;
    margin-top: 16px;
}

/* .article-body h2 + p {
    margin-top: 100px;
} */

.article-body p {
    margin-bottom: 0.6em;
}

.article-body a {
    color: hsl(245, 86%, 36%);
}

.article-body a:visited {
    color: #609;
}

.article-body a:hover {
    text-decoration: underline;
}

.article-body a:active {
    text-decoration: underline;
    color: hsl(245, 86%, 30%);
}

.article-body iframe[src^='/iframe'] {
    width: 100%;
    height: 500px;
}

.article-body iframe[src^='/demo'] {
    padding: 4px;
    background-color: #f1f1f1;
}

.article-body a[target='_blank']::after {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
    margin: 0 3px 0 5px;
}
/* purgecss end ignore */
