main {
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 20px;
}

a {
    color: #0969da;
    text-decoration: none;
}

a:hover,
a:active {
    text-decoration: underline;
}

a[target='_blank']::after {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
    margin: 0 3px 0 5px;
}
