/* purgecss start ignore */
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    color: #111;
}

/* .full-width-screen {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
} */

.small-caps {
    font-variant: small-caps;
}

a:not([class]) {
    color: #1a0dab;
}
a:not([class]):hover {
    color: hsl(245, 86%, 26%);
    text-decoration: underline;
}
/* purgecss end ignore */
