@import (less) '../../node_modules/prismjs/themes/prism.css';
// @import (less) '../../node_modules/prismjs/themes/prism-twilight.css';

// TODO: choose prismjs theme. e.g. https://ourcodeworld.com/articles/read/477/collection-of-the-best-open-source-prism-js-code-highlight-themes

html,
body,
article,
p,
div,
form,
h1,
h2,
h3 {
    padding: 0;
    margin: 0;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    // padding: 0;
    // margin: 0;
}

html {
    box-sizing: border-box;
    font-size: 100%;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    // font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

    // font-family: Constantia, 'Lucida Bright', Lucidabright, 'Lucida Serif', Lucida, 'DejaVu Serif',
    //     'Bitstream Vera Serif', 'Liberation Serif', Georgia, serif;

    // font-family: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans', 'Bitstream Vera Sans',
    //     'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;

    font-size: calc(1rem + 0.25vw);
    // font-size: 1rem;
    line-height: 1.38;
    color: #333;
}

// @media (prefers-color-scheme: dark) {
//     body {
//         background-color: #000000;
//         color: #ffffff;
//     }
// }

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page-container {
    width: 100%;
    max-width: 1148px;
    margin: 0 auto;
    padding: 0 24px;
    flex: 1;
}

a {
    text-decoration: none;
    color: #1565c0;
    // color: #2962ff;

    &:visited {
        color: darken(#1565c0, 20%);
    }

    &:hover {
        color: darken(#1565c0, 10%);
    }

    &:active {
        color: darken(#1565c0, 20%);
    }

    &:hover,
    &:active {
        text-decoration: underline;
    }
}

a[target='_blank']::after {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
    margin: 0 3px 0 5px;
}

img,
video {
    height: auto;
    max-width: 100%;
}

iframe {
    border: 0;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}
tr {
    border-bottom: 1px solid #ccc;
}
th,
td {
    text-align: left;
    padding: 4px;
}

ul,
ol,
dl {
    padding-left: calc(1.5em + 5px);
    margin-top: 0;
    margin-bottom: 1em;
}

button,
input[type='submit'] {
    font-size: 1em;
}

hr {
    display: block;
    height: 0;
    border: 0;
    border-top: 1px solid #cdcdcd;
    margin: 12px 0;
}
// ul,
// ol {
//     // list-style-position: inside;
//     list-style: none;
// }

blockquote {
    border-left: 5px solid #ccc;
    margin-left: 0;
    margin-left: unset;
    padding-left: 1.5em;

    cite {
        &::before {
            content: '— ';
        }
    }
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.youtube-player {
    padding-top: 56.25%;
    position: relative;
    background-color: #000;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
}

.page-title {
    font-size: 1.75em;
    margin-bottom: 0.75em;
    line-height: 1.2;
}

code:not([class*='language-']) {
    background-color: #f5f2f0;
    color: #905;
    padding: 1px 3px;
    // font-size: 1em;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

.article-content {
    p {
        line-height: 1.5;
        margin-bottom: 12px;
    }

    h2 {
        font-weight: bold;
        font-size: 1.25em;
        margin: 16px 0 12px;
    }

    h3 {
        font-weight: bold;
        font-size: 1.125em;
        margin: 12px 0 8px;
    }

    iframe {
        width: 100%;
    }
}

h1,
.h1 {
    font-weight: bold;
    font-size: 1.75em;
    margin-bottom: 20px;
}

h2,
.h2 {
    font-weight: bold;
    font-size: 1.25em;
    margin-bottom: 20px;
}

h3,
.h3 {
    font-weight: bold;
    font-size: 1.125em;
    margin-bottom: 20px;
}

svg[role='img'][viewBox='0 0 512 512'] {
    width: 16px;
}

svg[role='img'][viewBox='0 0 448 512'] {
    width: 14px;
}

svg[role='img'][viewBox='0 0 384 512'] {
    width: 12px;
}

svg[role='img'][viewBox='0 0 320 512'] {
    width: 10px;
}

// svg {
//     path {
//         vector-effect: non-scaling-stroke;
//     }
// }

figure {
    padding: 0;
    margin: 0;
    text-align: center;

    img {
        display: block;
        margin: 0 auto;
    }

    figcaption {
        max-width: 80%;
        text-align: center;
        margin: 0.25em auto 1em;
    }
}

// code[class*='language-'],
// pre[class*='language-'] {
pre,
code {
    // font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace !important;
    // font-size: 0.875em !important;
}
