/* purgecss start ignore */
/* @import '../../node_modules/prismjs/themes/prism-twilight.css'; */

/* @import '../../node_modules/prism-themes/themes/prism-material-dark.css'; */
/* @import '../../node_modules/prism-themes/themes/prism-nord.css'; */
@import '../../node_modules/prism-themes/themes/prism-material-oceanic.css';

code:not([class*='language-']) {
    background-color: #f5f2f0;
    color: #905;
    padding: 1px 3px;
    /* font-size: 1em; */
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

/* pre,
code {
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace !important;
    font-size: 0.875em !important;
    font-size: 0.875rem !important;
} */

/* purgecss end ignore */
