.site-header {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: row;

    background-color: #123;
    border-bottom: 2px solid orange;
    margin-bottom: 20px;

    nav {
        display: block;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;
    }

    a {
        line-height: 48px;
        margin-left: 20px;
        text-decoration: none;
        color: orange;
        &:not(:last-of-type) {
            margin-right: 20px;
        }

        &:hover,
        &:active {
            color: orange;
            text-decoration: underline;
        }
    }
}
