.site-header {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: row;

    background-color: #123;
    border-bottom: 2px solid orange;
    margin-bottom: 20px;

    nav {
        font-size: 1.25rem;
    }

    a {
        line-height: 48px;
        text-decoration: none;
        color: orange;
        &:not(:last-of-type) {
            margin-right: 32px;
        }

        &:hover,
        &:active {
            color: orange;
            text-decoration: underline;
        }
    }
}
