@import "defaults";

.menu-icon {
  position: relative;
  float: right;
  top: -3px;
  width: 4em;
  text-align: center;

  span {
    background-color: #f1f1f1;
    border: 1px solid #999;
    border-radius: 4px;
    padding: 3px 8px;
    color: #333;
  }
}

nav {
  display: block;
  position: relative;
  background-color: #34495E;
  //background-color: #272727;
  //background-color: #3eaacc;
  
  z-index: 2;
  vertical-align: middle;
  text-transform: uppercase;

  .brand {
    font-weight: 600;
    font-size: 1.25rem;
  }

  #menu {
    display: none;
    a {
      display: block;
    }
  }

  a {
    color: #fff;
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
    padding: 1rem 0;
  }
}

.btn-readmore {
  display: block;
  text-align: center;
  padding: 5px 12px;
  border-radius: 4px;
  background-color: #0095d5;
  color: #fff;

  text-transform: uppercase;
}

footer {
  padding: 24px 0;
  text-align: center;
  background-color: #f1f1f1;
  border-top: 1px solid #ddd;
  margin-top: 32px;
}

.share-bar {
  margin-top: 12px;
  padding: 12px 0;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  line-height: 1;
  text-align: center;
}

.btn-share {
  padding: 6px 12px;
  display: inline-block;
  margin: 8px;
  font-size: 1rem;
  vertical-align: text-bottom;

  &:link, &:visited, &:hover, &:active {
    color: #fff;
    text-decoration: none;
  }

  &:hover, &:active {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .85);
    box-shadow: 0 0 3px rgba(127, 127, 127, .65);
  }

  .fa {
    font-size: 14px;
    padding-right:3px;
    border-right: 1px solid #fff;
    vertical-align: text-bottom;
  }

  &.fb {
    //background-color: #45c;
    background-color: #3b5998;
  }

  &.tw {
    //background-color: #959;
    background-color: #00aced;
  }

  &.li {
    background-color: #007bb6;
  }

  &.gp {
    background-color: #dd4b39;
  }

  &.cm {
    background-color: #959;
  }
}

h1.site-title {
  position: absolute;
  bottom: 8px;
  text-align: center;
  width: 100%;
  font-size: 2rem;
  margin: 0;
}

h2 {
  font-weight: 600;

  a, a:link, a:visited, a:hover, a:active {
    color: #333;
  }
}

.full-post {
  margin-top: 24px;
}

.index-head {
  position: relative;
  height: 280px;
  border-bottom: 1px solid #dedede;
  //margin-bottom: 32px;
  background-image: url(/static/img/bg_480.jpg);
  background-position: center top;
}

.abstract {
  font-weight: 600;
}

.social-links {
  display: block;
}