---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <Fragment slot="head">
        <title>Adam Beres-Deak (lead software engineer)</title>
        <meta
            name="description"
            content="Adam is a curious full-stack software engineer who codes in JavaScript, TypeScript, Rust, C# and uses AWS, CDK, Infrastructure as Code"
        />
        <link rel="canonical" href="https://bdadam.com/about.html" />
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@bdadamm" />
        <meta name="twitter:creator" content="@bdadamm" />
        <meta property="og:image" content="https://bdadam.com/og/home.png" />
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="630" />
    </Fragment>

    <main class="content-container">
        <h1>Hi! I'm Adam&nbsp;Beres-Deak</h1>

        <p>
            I'm a curious peron who loves learning, coding and teaching others what I know. I mostly work on Web
            projects - both on the frontend and also on the backend. I deploy my services to AWS with Infrastructure as
            Code.
        </p>
        
        <p>
            Although most of my daily work happens in private git repositories, you can still find some things on my <a
                href="https://github.com/bdadam">GitHub profile</a
            >.
        </p>

        <h2>Contact me</h2>

        <p>
            I'm open to feedback and suggestions. You can reach out to me by e-mail: <a href="mailto:me@bdadam.com"
                >me@bdadam.com</a
            >.
            <br />
            You can also send me a message on <a href="https://twitter.com/bdadamm">Twitter (@bdadamm)</a>, or see my
            professional profile on <a href="https://linkedin.com/in/bdadam">Linkedin</a> or <a
                href="https://www.xing.com/profile/Adam_BeresDeak">Xing</a
            >.
            <br />
        </p>

        <!-- <h2>My current tech stack</h2>
        <p></p>

        <h2>Quotes</h2>
        <p>The Web is the Platform &mdash; Mozilla</p> -->

        <script
            type="application/ld+json"
            set:html={JSON.stringify({
                '@context': 'http://schema.org',
                '@graph': [
                    {
                        '@context': 'http://schema.org',
                        '@type': 'Person',
                        name: 'Adam Beres-Deak',
                        url: 'https://bdadam.com/',
                        jobTitle: 'Lead Software Engineer',
                        // image: 'TODO',
                        sameAs: [
                            'https://twitter.com/bdadamm',
                            'https://linkedin.com/in/bdadam',
                            'https://www.xing.com/profile/Adam_BeresDeak',
                            'https://github.com/bdadam',
                        ],
                    },
                    {
                        '@context': 'http://schema.org',
                        '@type': 'ProfilePage',
                        name: 'About Adam Beres-Deak',
                        description:
                            'Adam is a curious full-stack software engineer who codes in JavaScript, TypeScript, Rust, C# and uses AWS, CDK, Imfrastructure as Code',
                        publisher: {
                            '@type': 'Person',
                            name: 'Adam Beres-Deak',
                            url: 'https://bdadam.com/about.html',
                        },
                    },
                ],
            })}
        ></script>
    </main>
</Layout>

<style>
    h1 {
        font-size: 2.5rem;
        font-weight: bold;
        line-height: 1.3;
        padding: 1em 0 0.75em;
        position: relative;
        margin-bottom: 20px;
    }

    h1::before {
        content: '';
        background-color: #f1f1ff;
        position: absolute;
        /* height: 100%; */
        top: 0;
        bottom: 0;
        width: 4000px;
        left: -2000px;
        z-index: -1;
    }

    h2 {
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 1.3;
        margin-block: 2rem 1rem;
    }

    p {
        margin-bottom: 10px;
    }
</style>
