---
import Layout from '../layouts/Layout.astro';
import SiteHeader from '../components/SiteHeader.astro';
import SiteFooter from '../components/SiteFooter.astro';
---

<Layout>
    <Fragment slot="head">
        <title>Adam Beres-Deak (lead software engineer)</title>
        <meta
            name="description"
            content="Adam is a curious full-stack software engineer who codes in JavaScript, TypeScript, Rust, C# and uses AWS, CDK, Imfrastructure as Code"
        />
        <link rel="canonical" href="https://bdadam.com/about.html" />
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@bdadamm" />
        <meta name="twitter:creator" content="@bdadamm" />
        <meta property="og:image" content={`/og/home.png`} />
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="630" />
    </Fragment>

    <SiteHeader />

    <main>
        <h1>Hi! I'm Adam Beres-Deak</h1>

        <p>
            I'm a curious peron who loves learning, teaching and creating tech. I mostly work on Web projects, I mostly
            deploy my services to AWS.
        </p>

        <h2>Contact me</h2>

        <p>
            I'm open to feedback and suggestions. You can reach out to me by e-mail: <a href="mailto:me@bdadam.com"
                >me@bdadam.com</a
            >.
            <br />
            You can also send me a message on <a href="https://twitter.com/bdadamm">Twitter (@bdadamm)</a>, on <a
                href="https://linkedin.com/in/bdadam">Linkedin</a
            > or on <a href="https://www.xing.com/profile/Adam_BeresDeak">Xing</a>.
            <br />
        </p>
        <p>
            Although most of my daily work happens in private git repositories, you can still find some things on my <a
                href="http://github.com/bdadam">GitHub profile</a
            >.
        </p>

        <h2>My current tech stack</h2>
        <p></p>
    </main>

    <ul>
        <li>
            <a href="mailto:me@bdadam.com">E-mail</a>
        </li>
        <li>
            <a href="http://github.com/bdadam">github/bdadam</a>
        </li>
        <li>
            <a href="https://twitter.com/bdadamm">Twitter</a>
        </li>
        <li>
            <a href="https://linkedin.com/in/bdadam">Linkedin</a>
        </li>
        <li>
            <a href="https://www.xing.com/profile/Adam_BeresDeak">Xing</a>
        </li>
    </ul>
    <SiteFooter />
</Layout>

<style>
    h1 {
        font-weight: bold;
        font-size: 1.5rem;
    }

    h2 {
        font-weight: bold;
        font-size: 1.125rem;
    }

    p {
        margin-bottom: 10px;
    }
</style>
