---
import Layout from '../layouts/Layout.astro';
import SiteHeader from '../components/SiteHeader.astro';
import SiteFooter from '../components/SiteFooter.astro';
---

<Layout>
    <SiteHeader />
    <h1>Hello</h1>
    <ul>
        <li>
            <a href="mailto:me@bdadam.com">E-mail</a>
        </li>
        <li>
            <a href="http://github.com/bdadam">github/bdadam</a>
        </li>
        <li>
            <a href="https://twitter.com/bdadamm">Twitter</a>
        </li>
        <li>
            <a href="https://linkedin.com/in/bdadam">Linkedin</a>
        </li>
        <li>
            <a href="https://www.xing.com/profile/Adam_BeresDeak">Xing</a>
        </li>
    </ul>
    <SiteFooter />
</Layout>
