<!doctype html>
<html>
<head>
    <meta name="charset" content="utf-8"/>
    <title>{{ title }}</title>
    {{#if description}}<meta name="description" content="{{description}}"/>{{/if}}
    {{#if abstract}}<meta property="og:description" content="{{abstract}}"/>{{/if}}
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link href="/static/main.css" rel="stylesheet"/>
    <link rel="alternate" type="application/rss+xml" title="RSS" href="http://feeds.feedburner.com/bdadamcom"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="author" content="Adam Beres-Deak"/>
    <meta name="viewport" content="width=device-width"/>
    <script src="/static/main.js" async></script>
    {{> favico }}
</head>
<body>
{{> nav }}
{{> body }}
{{> footer }}
</body>
</html>