---
//
---

<footer class="site-footer">
    <p>bdadam.com &copy; 2023</p>
    <p>
        Except where otherwise noted, content on this site is licensed under a
        <a href="http://creativecommons.org/licenses/by/4.0/" rel="external nofollow noreferrer" target="_blank"
            >Creative Commons Attribution 4.0 International license</a
        >. Code samples are licensed under the MIT license.
    </p>
</footer>

<style>
    .site-footer {
        padding: 20px;
        margin-top: 20px;
        border-top: 1px solid #ccc;
        text-align: center;
    }

    p {
        max-width: 1100px;
        margin-inline: auto;
    }
</style>
