---
//
---

<header class="site-header">
    <nav>
        <!-- <a href="/">bdadam.com</a> -->
        <a href="/">Adam's Blog</a>
        <a href="/about.html">about</a>
        <a href="/about.html">articles</a>
        <a href="/about.html">playlists</a>
        <a href="/about.html">tools</a>
    </nav>
</header>

<style>
    .site-header {
        margin-bottom: 20px;
        border-bottom: 2px solid #dcdcdc;
    }

    nav {
        max-width: 1200px;
        margin-inline: auto;
        text-align: center;
    }

    a {
        padding: 1em;
        font-size: 1.125rem;
        display: inline-block;
        font-variant: small-caps;
        font-weight: bold;
    }
</style>
