---
import '../styles/reset.scss';
import '../styles/defaults.scss';
import '../styles/utilities.scss';
import SiteHeader from '../components/SiteHeader.astro';
import SiteFooter from '../components/SiteFooter.astro';
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <slot name="head" />
    </head>
    <body>
        <slot name="header">
            <SiteHeader />
        </slot>

        <slot />

        <slot name="footer">
            <SiteFooter />
        </slot>
    </body>
</html>
