---
import '../styles/reset.scss';
import '../styles/defaults.scss';
import '../styles/utilities.scss';
import SiteHeader from '../components/SiteHeader.astro';
import SiteFooter from '../components/SiteFooter.astro';
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <slot name="head" />
    </head>
    <body>
        <slot name="header">
            <SiteHeader />
        </slot>

        <div class="main">
            <slot />
        </div>

        <slot name="footer">
            <SiteFooter />
        </slot>
    </body>
</html>

<style>
    body {
        display: flex;
        flex-direction: column;
    }

    .main {
        flex: 1;
        width: 100%;
        max-width: 1200px;
        margin-inline: auto;
        padding-inline: 24px;
    }
</style>
