---
// import GlobalStyles from '../components/GlobalStyles.astro';
import '../styles/reset.scss';
import '../styles/utilities.scss';

import SiteHeader from '../components/SiteHeader.astro';
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <slot name="head" />
    </head>
    <body>
        <slot />
    </body>
</html>
